/* .loginContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border-color: rgb(94, 88, 88);
    border-style: solid 1px;
}

#login-heading {
    font-size: 2.5em;
    margin-bottom: 10px;
} */